<template>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <md-card md-with-hover class="col-md-4 weather_items" v-for="city in cities" :key="`city-${city.id}`">
                    <md-ripple>
                        <md-card-header>
                            <div class="md-title">{{ city.name }}</div>
                            <div class="md-title">{{ convertDegree(city.main.temp) }} <span>°C</span></div>
                        </md-card-header>
                            <md-card-actions>
                                <router-link :to="'/city/' + city.id + '/' + city.name">
                                    <md-button class="md-primary" >More</md-button>    
                                </router-link>
                                <md-button class="md-primary" @click="updateTemp(city.name)">Update Weather</md-button>
                                <md-button class="md-accent" @click="deleteCity(city.id)">Delete</md-button>
                            </md-card-actions>
                    </md-ripple>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import convertDegreeMixin from '@/mixins/convertDegreeMixin.js'
import service from '@/services/service.js'

export default {
    mixins: [convertDegreeMixin],
    computed: {
        ...mapState(["cities"])
    },
    methods: { 
        deleteCity(id) { 
            return this.$store.dispatch('deleteCity', id);
        },

        updateTemp(cityName) { 
            service.getCity(cityName).then(r => { 
                this.$store.dispatch('updateCity', r.data);
            });
        }
    }
}
</script>

<style scoped>
    .container { 
        width: 1200px;
    }
    .weather_items { 
        display: flex;
        flex-direction: row;
        
    }
</style>