<template>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <md-card md-with-hover class="col-md-4 weather_items">
                    <md-ripple>
                        <md-card-header>
                            <div class="md-title">{{ cityInfo.name }}</div>
                        </md-card-header>
                         <md-card-content>
                                <div class="md-temp">
                                    <span>{{ convertDegree(cityInfo.main.temp) }} <span>°C</span></span>
                                </div>
                                <div class="md-main">
                                    <span>{{ cityInfo.weather[0].main }}</span>
                                </div>
                                <div class="md-description">
                                    <span>{{ cityInfo.weather[0].description }}</span>
                                </div>
                                <div class="md-clouds">
                                    <span>{{ cityInfo.clouds.today }}</span>
                                </div>
                            </md-card-content>
                            <md-button class="md-primary" @click="updateTemp(city.name)">Update Weather</md-button>
                    </md-ripple>
                </md-card>
                <md-button class="md-primary" @click="onBack()">Back</md-button>
            </div>
        </div>
    </div>
</template>

<script>
import convertDegreeMixin from '@/mixins/convertDegreeMixin.js';
import service from '@/services/service.js'

export default {
    mixins: [convertDegreeMixin],
    computed: { 
        cityInfo() { 
            return this.$store.getters.cityById(parseInt(this.$route.params.id))
        }
    },
    methods: { 
        onBack() { 
            return this.$router.push('/');
        },

        updateTemp(cityName) { 
            service.getCity(cityName).then(r => { 
                this.$store.dispatch('updateCity', r.data);
            });
        }
    }
}
</script>

<style scoped>
    .row { 
        display: flex;
        justify-content: center;
    }

    .container{ 
        width: 1200px;
    }
</style>