<template>
  <div class="createCity container-fluid">
    <div class="container">
      <div class="row">
        <div class="createCity__form">
          <form @submit.prevent="submitHandler()">
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" v-model="cityName" placeholder="city">
            </div>
            <md-button class="md-primary" @click="submitHandler()">Create</md-button>
            <md-button class="md-primary" @click="onBack()">Back</md-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import service from '@/services/service.js';

export default {
  data() { 
    return { 
      cityName: "",
    }
  },

  methods: {
    submitHandler() { 
      service.getCity(this.cityName).then(async r => {
        await this.$store.dispatch('addCity', r.data);
        this.$router.push('/');
        
      }).catch(() => {
        alert('City not found');
      });
    },

    onBack() { 
      return this.$router.push('/');
    }
  }
}
</script>

<style>

</style>