<template>
  <div id="app" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="create-weather">
          <router-link :to="'/create'">
            <md-button class="md-primary">Add new city</md-button>    
          </router-link>
        </div>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <router-view/>
    </transition>
  </div>
</template>

<style>
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.create-weather { 
  display: flex;
  justify-content: flex-end;
}

@import'~bootstrap/dist/css/bootstrap.css'
</style>
